@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant:wght@700&family=Montserrat:wght@600&family=Montserrat&display=swap");

:root {
  --background-color: #efdcd3;
  --lighter-theme-color: #f5e7dd;
  --light-theme-color: #efdcd3;
  --dark-theme-rgb: 188, 89, 87;
  --dark-theme-color: rgb(var(--dark-theme-rgb));
  --font-color: #1e1d1d;
  --header-font: "Cormorant", serif;
  --body-font: "Montserrat", sans-serif;
  --margin: 2.5rem;
  --max-width: 1200px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3rem;
}
